body{
	background-color: cyan;
}

div{
	margin-top: 15%;
	margin-left:45%;
}

#butt{
	margin-left: 45%;
	margin-top: 2%;
}

table{
	margin-left:45%;
}

p{
	text-align:center;
}

#post{
	margin-top:2%;
	width: 30%;
	height: 20%;
}

a{
	text-align:center
}